*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: auto;
    background-color: rgb(40, 40, 60);
}
nav{
   
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(8, 8, 45, 0.1);
       
}
nav img{
width: 155px;
}

nav span button{
    width: 80px;
    height: 35px;
    background-color: red;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}


nav span button:first-child{
    background-color: transparent;
    width: 120px;
    border: 1px solid white;
}

.box{
    width: 100%;
    height: 600px;
    border-radius: 20px;

    background-image: linear-gradient(65.68deg, rgba(0, 8, 29, 0.6) 9.51%, rgba(53, 13, 49, 0.6) 72.89%, rgba(132, 5, 25, 0.6) 101.01%),linear-gradient(102.21deg, rgba(0, 0, 0, 0.04) 16.09%, rgba(1, 1, 1, 0.17) 39.27%, rgba(1, 1, 1, 0.24) 64.25%, rgba(4, 4, 4, 0.8) 96.63%),url(https://assets.nflxext.com/ffe/siteui/vlv3/70805ddd-f38c-4e25-94cd-b5015e444ee0/6e99205c-e34b-4dbe-ba45-b026023791bc/IN-en-20230508-popsignuptwoweeks-perspective_alpha_website_large.jpg);




      
}
.box-section{
    width: 100%;
    height: auto;
    padding: 50px;
}
.text-section{
    display: flex;
    color: white;
    margin-left: 50px;
    flex-direction: column;
}
.text-section h1{
    font-size: 80px;
    margin-top: 50px;
}
.text-section h6{
    font-size: 20px;
    margin-top: 20px;
}
.text-section p{
    font-size: 18px;
    margin-top: 20px;
}

.text-section span{
    margin-top: 30px;
}
.text-section span input{
    width: 400px;
    height: 50px;
    border: 1px solid rgb(150, 149, 149);
    /* border: none; */
    background-color: rgba(0, 0, 0, 0.3);
padding-left: 15px;
    font-size: 18px;
    /* color: aliceblue; */
    border-radius: 5px;
  
}

.text-section span  button{
    height: 50px;
    background-color: red;
    width: 150px;
    border-radius: 5px;
    /* border: 1px solid black; */
    border: none;
    color: white;
    font-size: 18px;

}

.tv-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}
.text-part{
    width: 50%;
    color: white;
    margin-left: 70px;
    /* text-align: center; */
    /* background-color: aquamarine; */
}
.img-part{
    width: 50%;
    margin-left: 150px;
}
.img-part img{
    width: 500px;
}
.text-part h1{
    font-size: 55px;
}
.text-part h5{
    font-size: 21px;
    margin-top: 10px;
}
hr{
    width:85%;
    height: 10px;
    margin-left: 100px;
    background-color: rgb(10, 10, 46);
    border: none;
   
}
.frequent{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.frequent h1{
    font-size: 40px;
    color: white;
    /* text-align: center; */
    margin-left: 300px;
    padding: 10px;
}
.faq-question{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.data{
    width: 900px;
    height: 70px;
    background-color: rgb(24, 2, 65);
    margin-top: 20px;
   
      
}
.data span{
display: flex;
justify-content: space-between;
color: white;
align-items: center;
padding: 20px;
font-size: 25px;

}
.data span:hover{
    background-color: rgb(20, 3, 36);
}

.p-section{
    font-size: 20px;
color: white;
margin-left: -300px;
margin-top: 20px;

}
.p-section input{
    width: 420px;
    height: 55px;
    border: 1px solid rgb(150, 149, 149);
    /* border: none; */
    background-color: rgba(0, 0, 0, 0.7);
padding-left: 15px;
    font-size: 18px;
    /* color: aliceblue; */
    border-radius: 5px;
    color: white;
    margin-top: 10px;
}

.p-section button{
    height: 50px;
    background-color: red;
    width: 160px;
    border-radius: 5px;
    /* border: 1px solid black; */
    border: none;
    color: white;
    font-size: 18px;
    margin-top: 10px;
}
.footer{
    width: 100%;
    height: auto;
    color: white;
    margin-top: 50px;
}
.footer-content{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin-top: 50px;
}
.footer-content ul li {
    list-style: none;
    margin-top: 20px;
    /* color: white; */
    
  
}
li a{
    color: rgb(206, 202, 202);
}
.footer p{
    margin-left: 120px;
    
}
.footer p a{
    color: white;
}

.footer button{
    width: 140px;
    height: 45px;
background-color: rgba(0, 0, 0, 0.3);
    color: white;
    /* font-weight: 600; */
    border-radius: 5px;
   border: 1px solid grey;
   margin-top: 50px;
   margin-left: 100px;
    

}
#net{
    margin-top: 30px;
    font-size: 18px;
}

@media (max-width:768px) {
    .text-section h1{
        font-size: 34px;
    }
    .text-section h6{
        font-size: 26px;
    }
    .text-section p{
        font-size: 15px;
    }
    .text-section span input{
        width: 150px;
    }
    .tv-section{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 40px;
    }
    .img-part img{
        width: 350px;
    }
    .img-part{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .text-part{
        width: 100%;
        display: flex;
        /* align-items: center; */
        /* justify-content: center; */
        flex-direction: column;
        margin-top: 20px;
    }
    .text-part h1{
        font-size: 30px;
    }
    .text-part h5{
        font-size: 16px;
        margin-top: 20px;
    }
    hr{
        width:75%;
        height: 10px;
        /* margin-left: 100px; */
        background-color: rgb(10, 10, 46);
        /* border: none;   */
        margin-top: 20px;
    }
    .p-section {
        width: 100px;
    }
    .p-section p{
        width: 400px;
        font-size: 18px;
    }
    

    .faq-section{
        width: 100%;
        margin-top: 30px;
    }
    .faq-section h1{
        font-size: 28px;
    }
    .faq-content{
        width: 100%;
    }
    .data{
        width: 400px;
    }
    .footer{
        width: 100%;

    }
    .frequent h1{
font-size: 25px;
margin-left: 50px;

    }
    .footer-content{
        width: 100%;
        padding: 40px;
    }
}